body{
    background-color: #cfab5f;
    font-family: sans-serif;
    cursor: pointer;

}

/**************** MenuDerecha ****************/

.rightNav{
    padding: 19px;
    display: flex;
    justify-content: space-around;
    align-content: center;
    margin: auto;
    float: right;
}

.derecha {
    position: relative;
    text-decoration: none;
    color: #222;
    font-size: 18px;
    letter-spacing: .5px;
    padding: 0 20px;
    cursor: pointer;
}

.derecha:before,
.derecha:after{
    content: "";
    position: absolute;
    height: 3px;
    width: 0;
    background: black;
    transition: .5s;
}
.derecha:after{
    left: 0;
    bottom: -10px;
}
.derecha:before{
    right: 0;
    top: -10px;
}
.derecha:hover:after,
.derecha:hover:before{
    width: 100%;
}

/**************** MenuIzquierda ****************/

.menu i {
    margin-left: 10px;
    margin-top: 10px;
}
#leftMenu{
    height: 100vh;
    position: fixed;
    width: 0;
    z-index: 100;
    top: 0;
    left: 0;
    background: #996d0f;
    overflow-x: hidden;
    transition: .5s;
}
#leftNav{
    margin-top: 70px;
}
#leftNav a{
    margin-bottom: 15px;
}
#leftMenu a{
    padding: 8px 8px 8px 10px;
    text-decoration: none;
    font-size: 15px;
    color: white;
    display: block;
    transition: .4s;
}

/**************** Navhover ****************/
#leftMenu a:hover{
    background: #9C7E3F;
    color: white;

}

.items{
    width: 400px;
    height: 50px;
    gap: 10px;
    display: flex;
    margin-top: 20px;
}

.navbar-brand img{
    width: 72px;
    margin-left: 5px;
    margin-right: 5px;
    float: right;
}

/**************** sliders  ****************/

.container-slider{
    margin: 50px 0;
    position: relative;
    overflow: hidden;
}

.slider {
    display: flex;
    width: 400%;
    height: 300px;
    margin-left: -100%;
    position: relative;
}
.slider:before{
    content: "";
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    background: rgba(0,0,0,0.5);
    height: 100%;
}

.slider__section {
    width: 100%;
    position: relative;
}
.slider__img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.slider__btn {
    position: absolute;
    width: 40px;
    height: 40px;
    background: rgba(255, 255, 255, 0.7);
    top: 50%;
    transform: translateY(-50%);
    font-size: 30px;
    font-weight: bold;
    font-family: monospace;
    text-align: center;
    border-radius: 50%;
    cursor: pointer;
    z-index: 999;
}
.slider__btn:hover {
    background: #fff;
}
.slider__btn--left{
    left: 10px;
}
.slider__btn--right {
    right: 10px;
}
.slider__content{
    position: absolute;
    top: 50%;
    left: 50%;
    color: white;
    transform: translate(-50%, -50%);
    width: 60%;
    text-align: center;
    z-index: 999;
}
.slider__title{
    font-size: 2.2em;
    margin: 0;
}
.slider__txt{
    margin: 5px 0;
}
.btn-shop{
    display: block;
    border: 2px solid white;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    width: 150px;
    margin: 20px auto;
    transition: all 0.5s;
}
.btn-shop:hover{
    background: white;
    color: black;
}



/* footer */

/*                              footer{
    background: #151515;
    padding: 80px 0px;
}

footer .foo-row{
    display: flex;
    justify-content: space-between;
}

footer .foo-row .foo-col{
    width: 50%;
}

footer .foo-row .foo-col:last-child{
    margin-left: 50px;
}

footer .foo-row .foo-col:first-child{
    margin-right: 50px;
}

footer .foo-row .foo-col h2{
    color: #E3E3E3;
    line-height: 40px;

    font-size: 33px;
    font-weight: 500;
    margin-bottom: 20px;
}

footer form .f-input{
    width: 100%;
    position: relative;
}

footer form .f-input input{
    width: 100%;
    display: block;
    padding: 16px 30px;
    background: #2C2B2B;
    border: none;
    padding-right: 50px;
    font-size: 15px;
    border-radius: 25px;
    outline: 0;
    color: #A7A1A1;
}

footer form .f-input .hm-btn-round{
    position: absolute;
    right: 0px;
    top: 50%;
    transform: translateY(-50%);
    width: 42px;
    height: 42px;
    border: none;
    font-size: 18px;margin-right: 3px;
    cursor: pointer;
}


footer .foo-row .foo-col ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

footer .foo-row .foo-col ul li{
    width: 50%;
    margin-bottom: 16px;
}

footer .foo-row .foo-col ul li a{
    color: #E3E3E3;
    font-size: 15px;
}

footer .foo-row .foo-col ul li a:hover{
    color: black;
    text-decoration: underline;
}


.foo-copy{
    background: #000000;
    padding: 40px 0px;
}

.foo-copy p{
    text-align: center;
    color: #E3E3E3;
    font-size: 14px;
    font-weight: 300;
}


                                            */
/*=================================
    ESTILOS: RESPOIVE
==================================*/
/*
@media screen and (max-width: 1024px){
    .grid-product{
        grid-template-columns: repeat(3,calc(33.33% - 2rem*2/3));
        column-gap: 2rem;
        row-gap: 2rem;
    }
}

.hm-header .icon-menu{
    display: none;
}

@media screen and (max-width: 800px) {
    .hm-banner {
        height: 400px;
        min-height: 400px;
    }

    .hm-grid-category,
    .grid-product {
        grid-template-columns: repeat(2, calc(50% - 2rem * 1 / 2));
        column-gap: 2rem;
        row-gap: 2rem;
    }

    .hm-header .hm-menu ul {
        display: none;
    }

    .hm-header .icon-menu {
        display: block;
        margin-left: 20px;

    }

    .hm-header .icon-menu button {
        background: transparent;
        border: none;
        font-size: 22px;
        color: black;
    }

    footer .foo-row {
        flex-direction: column;
    }

    footer .foo-row .foo-col {
        width: 100%;
        margin-left: 0px !important;
        margin-right: 0px !important;
    }

    footer .foo-row .foo-col ul {
        display: none;
    }

    .hm-tabs .hm-tab-link {
        margin: 0px 10px;
        margin-bottom: 10px;
    }
}

        */