<link rel="stylesheet" th:href="@{/css/style.css}">
<header th:replace="~{menus/mismenus}"></header>
<body>
<div class="contenedor">
<div class="banner">
    <div class="capa"></div>
    <div class="info">
        <h1>Bienvenido a La Casa Nostra</h1>
        <p>Hola buenas has entrado la parte de la carta de nuestro restaurante
        para ver todo la carta la carta completa presiones donde pone carta</p>
        <a href="#">Carta</a>
    </div>
</div>
</div>
</body>
<section th:replace="~{footer/footer}"></section>
