<div class="container-slider">

  <div class="slider" id="slider">

    <div class="slider__section">
      <img src="https://larepublica.pe/resizer/oCN5x4cDihi57Xcjvgn6jYWKCvo=/1200x660/top/arc-anglerfish-arc2-prod-gruporepublica.s3.amazonaws.com/public/GLDU47SHXVDGXBPCXLMXWJLLVM.jpg" alt="" class="slider__img">
      <div class="slider__content">
        <h2 class="slider__title">Ruud Gullit</h2>
        <p class="slider__txt">Camisetas Oficiales de Holanda de los años 80.</p>
        <a href="" class="btn-shop">COMPRAR AHORA</a>
      </div>
    </div>

    <div class="slider__section">
      <img src="https://www.publico.es/files/module_big_mobile//files/crop//uploads/2022/12/26/63a8daf9d2725.r_1672356525691.0-0-1244-700.jpeg" alt="" class="slider__img">
      <div class="slider__content">
        <h2 class="slider__title">Pelé</h2>
        <p class="slider__txt">Camisetas Oficiales de Brasil de los años 60.</p>
        <a href="" class="btn-shop">COMPRAR AHORA</a>
      </div>
    </div>

    <div class="slider__section">
      <img src="https://cloudfront-eu-central-1.images.arcpublishing.com/prisaradio/APV6PBVF6NKUDFOWHOOET6OQ5Q.jpg" alt="" class="slider__img">
      <div class="slider__content">
        <h2 class="slider__title">Emilio Butragueño</h2>
        <p class="slider__txt">Camisetas Oficiales de España de los años 80.</p>
        <a href="" class="btn-shop">COMPRAR AHORA</a>
      </div>
    </div>

    <div class="slider__section">
      <img src="https://depor.com/resizer/6-o4zTV5d1sGymx013UZNaQPzJ0=/580x330/smart/filters:format(jpeg):quality(75)/cloudfront-us-east-1.images.arcpublishing.com/elcomercio/CD2ZLY7WUFAJBCFTMTR76IK34Q.jpg" alt="" class="slider__img">
      <div class="slider__content">
        <h2 class="slider__title">Zinedine Zidane</h2>
        <p class="slider__txt">Camisetas Oficiales de Francia de los años 90.</p>
        <a href="" class="btn-shop">COMPRAR AHORA</a>
      </div>
    </div>

  </div>
  <div class="slider__btn slider__btn--right" id="btn-right">&#62;</div>
  <div class="slider__btn slider__btn--left" id="btn-left">&#60;</div>
</div>