<div class="container-slider">

  <div class="slider" id="slider">

    <div class="slider__section">
      <img src="/img/pele.jpeg" alt="" class="slider__img">
      <div class="slider__content">
        <h2 class="slider__title">Pelé</h2>
        <p class="slider__txt">Camisetas Oficiales de Brasil de los años 60.</p>
        <a href="" class="btn-shop">COMPRAR AHORA</a>
      </div>
    </div>

    <div class="slider__section">
      <img src="/img/beckham.jpg" alt="" class="slider__img">
      <div class="slider__content">
        <h2 class="slider__title">David Beckham</h2>
        <p class="slider__txt">Camisetas Oficiales de Inglaterra de los años 2000.</p>
        <a href="" class="btn-shop">COMPRAR AHORA</a>
      </div>
    </div>

    <div class="slider__section">
      <img src="/img/butrageño.jpg" alt="" class="slider__img">
      <div class="slider__content">
        <h2 class="slider__title">Emilio Butragueño</h2>
        <p class="slider__txt">Camisetas Oficiales de España de los años 80.</p>
        <a href="" class="btn-shop">COMPRAR AHORA</a>
      </div>
    </div>

    <div class="slider__section">
      <img src="/img/zidane.jpg" alt="" class="slider__img">
      <div class="slider__content">
        <h2 class="slider__title">Zinedine Zidane</h2>
        <p class="slider__txt">Camisetas Oficiales de Francia de los años 90.</p>
        <a href="" class="btn-shop">COMPRAR AHORA</a>
      </div>
    </div>

  </div>
  <div class="slider__btn slider__btn--right" id="btn-right">&#62;</div>
  <div class="slider__btn slider__btn--left" id="btn-left">&#60;</div>
</div>

<script src="/js/slider.js"></script>