<div class="container-slider">

  <div class="slider" id="slider">

    <div class="slider__section">
      <img src="/img/smash.png" alt="" class="slider__img">
      <div class="slider__content">
        <h2 class="slider__title">Hamburguesa Smash</h2>
        <p class="slider__txt">Hamburguesa con smash y patatas carpanta</p>
      </div>
    </div>

    <div class="slider__section">
      <img src="/img/smash2.png" alt="" class="slider__img">
      <div class="slider__content">
        <h2 class="slider__title">Pan para las hamburgesas smahs</h2>
        <p class="slider__txt">Pan brioche para las hamburgesas</p>
      </div>
    </div>

    <div class="slider__section">
      <img src="/img/cotillar.jpg" alt="" class="slider__img">
      <div class="slider__content">
        <h2 class="slider__title">Costillar BBQ</h2>
        <p class="slider__txt">Costillar hecho a la parrila con salsa bbq</p>
      </div>
    </div>
    <div class="slider__section">
      <img src="/img/pizza.jpg" alt="" class="slider__img">
      <div class="slider__content">
        <h2 class="slider__title">Pizza margarita</h2>
        <p class="slider__txt">Pizza margarita hecho a horno de leña</p>
      </div>
    </div>

    <div class="slider__section">
      <img src="/img/finger.png" alt="" class="slider__img">
      <div class="slider__content">
        <h2 class="slider__title">Finger de queso gouda</h2>
        <p class="slider__txt">Finger de queso gouda artesanales</p>
      </div>
    </div>

  </div>
  <div class="slider__btn slider__btn--right" id="btn-right">&#62;</div>
  <div class="slider__btn slider__btn--left" id="btn-left">&#60;</div>
</div>

<script src="/js/slider.js"></script>